body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    background-image: url('../image/dashbg2.jpg'); /* Set background image */
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* No repeating */
    background-position: center; /* Center the background image */
}

.sidebar {
    width: 20%;
    background-color: #6e42f4;
    color: white;
    padding-top: 20px;
    text-align: center;
}

.sidebar .profile img {
    width: 100px; /* Increased logo size */
    margin-bottom: 20px;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
}

.sidebar .menu li {
    padding: 0;
}

.sidebar .menu .menu-btn {
    width: 100%;
    padding: 20px 0; /* Increased padding for bigger button */
    font-size: 18px; /* Increased font size */
    background: none;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar .menu .menu-btn:hover,
.sidebar .menu .menu-btn.active {
    background-color: #5432d3;
}

.main-content {
    width: 80%;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.welcome-message {
    background-color: #e0d4fc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #6e42f4;
}

.finance, .enrolled-courses {
    margin-top: 20px;
}

.finance h2, .enrolled-courses h2 {
    margin-bottom: 10px;
}

.finance .cards-container, .enrolled-courses .cards-container {
    display: flex;
    justify-content: space-between;
}

.finance .card, .enrolled-courses .course-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease;
    width: 20%; /* Set width to 20% of the screen width */
}

.finance .card:hover, .enrolled-courses .course-card:hover {
    background-color: #e0d4fc;
}

.finance .card h2, .enrolled-courses .course-card h3 {
    margin: 0;
    color: #6e42f4;
}

.enrolled-courses .course-card button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #6e42f4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Ensure button fills the width of the card */
}
